body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.task {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 180px;
  margin: 10px;
  padding: 10px;
  float: left;
  display: flex;

  flex-direction: column;
}

.taskHeader {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
  float: left;
  order: 1;
  display: flex;
}

.taskEditor {
  order: 1;
}

.ownerName {
  margin-right: 5px;
  width: 137px;
}

.deleteButton {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}

.taskBody {
  display: block;
  box-sizing: border-box;
}
